* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.greeting {
  font-size: 50px;
  margin: 15px 0 0 15px;
}

.content {
  margin: 15px 0 0 15px;
  font-size: 30px;
}

.menu {
  display: inline-block;
}
.menu__button {
  color: #fff;
  align-items: center;
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  transform: all 0.3s ease 0;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(206, 17, 17);
}
.menu {
  display: inline-block;
}

.menu._active .menu__list {
  display: block;
}

.menu._active .menu__button span:first-child {
  display: none;
}

.menu._active .menu__button span:last-child {
  display: block;
}

.menu__button span:first-child {
  display: block;
}

.menu__button span:last-child {
  display: none;
}

.menu__list {
  background-color: #77608d;
  padding: 15px;
}

.menu__list li:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.menu__link {
  color: #fff;
  font-size: 16px;
}

.menu__link:hover {
  text-decoration: none;
}