@import "_header.scss";
@import "_nullstyle.scss";

%tplborder {
  font-size: 35px;
  border-bottom: 5px dashed blue;
}

@mixin fontz($f) {
  font-size: $f;
}

$fz: 40px;
$color_1: #0000;

body {
  padding: 30px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.block {
  width: 300px/960px * 100%;
  background-color: #666;
  padding: 30px;
  > p {
    color: blue;
  }
  span {
    color: aqua;
  }
  .block_text {
    font-size: $fz;
  }
}
.link {
  color: blue;
  text-decoration: underline;
  font-size: $fz;
  .block & {
    font-size: $fz;
  }

  &:hover {
    color: green;
  }
  @extend %tplborder;
}

.link-2 {
  @extend %tplborder;
  border-bottom: 5px dashed rgb(85, 153, 21);
  @include fontz(100px);
}
